* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* comment out body when displaying mealapi.js*/
body {
  background-color: rgb(29, 29, 29);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
